<div class="form-group sprint-name">
  <%= sprint.text_field :name, placeholder:"Sprint name", class:"form-control"  %>
</div>

<%= sprint.fields_for :goals do |goal| %>
  <div class="sprint-column">
    <div class="form-group">
      <%= goal.text_field :name, placeholder:"goal #{goal.index+1}", class:"form-control"  %>
    </div>
      
    <div class="form-group">
      <%= goal.fields_for :actions do |action| %>
        <%= action.text_field :name, placeholder:"action #{action.index+1}", class:"form-control" %>
      <% end %>  
    </div>
  </div>
<% end %>
