<%= form_for @sprint do |sprint| %>
  <%= sprint.fields_for :goals do |goal| %>
    <%= goal.text_field :name %></br>
    <%= goal.fields_for :actions do |action| %>
      <%= action.text_field :name %></br>
    <% end %>
    </br></br>
  <% end %>
  <%= submit_tag("Save") %>
<% end %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
