<div class="container theme-showcase" role="main">
  <div class="text-center jumbotron" class="new_sprint" id="new_sprint">
    <h3>New Sprint</h3>

    <%= form_for @sprint do |sprint| %>
        <%= render :partial => "form", :locals => { sprint: sprint  } %>
      <footer>
        <%= submit_tag "Save", class: "btn btn-default" %>
      </footer>
    <% end %>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>


  <% if @current_sprint %>
    <div id="current_sprint" class="text-center">
        <h3>Current Sprint</h3>
        <%= render :partial => "show", :locals => { sprints: [@current_sprint] } %>
    </div>
  <% end %>

  <div id="sprints_history" class="text-center">
    <h3>History</h3>
    <%= render :partial => "show", :locals => { sprints: @sprints_history } %>
  </div>    
</div>
