<div class="container theme-showcase" role="main">
    <div class="text-center jumbotron new-sprint-section">
      <h3>New Sprint</h3>

      <%= form_for @sprint do |sprint| %>
          <%= render :partial => "form", :locals => { sprint: sprint  } %>
        <footer>
          <%= submit_tag "Save", class: "btn btn-sm btn-primary" %>
        </footer>
      <% end %>

      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>

  <% if @current_sprint %>
    <div id="current_sprint" class="text-center">
        <h4>Current Sprint </h4>
        <%= render :partial => "show", :locals => { sprint: @current_sprint } %>
        <button class="end-sprint btn btn-sm btn-primary"> New Sprint</button>
    </div>
  <% end %>

  <% if @sprints_history.present? %>
    <div id="sprints_history" class="text-center">
      <a id="history-link"><h5>History (show/hide)</h5></a>
      <div class="history-list">
        <% @sprints_history.each do |sprint| %>
          <%= render :partial => "show", :locals => { sprint: sprint } %>
          <hr>
        <% end %>
      </div> 
    </div> 
  <% end %>
</div>

<script>
  $( document ).ready(function() {
    $('.history-list').hide()
    
    <% if @current_sprint.present? %>
      $('.new-sprint-section').hide();
    <% end %>

    $('.end-sprint').click(function() {
      $('.new-sprint-section').show();
    })

    $('#history-link').click(function() {
      $('.history-list').toggle();
    })    
  });


</script>
